@font-face {
  font-family: quicksand;
  src: url(../../font/quicksand.ttf);
}
html{    font-size: 72%;
}
*{
  box-sizing: border-box;

}
a{text-decoration: none;}

p,h1{margin-block-start: 0;margin-block-end: 0;}
@media (max-width: 960px) {
  html{
    font-size: 65%;
  }

}
@media (max-width: 700px) {
  html{
    font-size: 55%;
  }

}
@media (max-width: 500px) {
  /* html{
    font-size: 50%;
  } */

}