
.container{
    display: flex;
    height: max-content;
    flex-direction: row;
}

.sidebar{
    
    background-color: var(--dark-grey-4);
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    padding-left: 2rem;
}
.side-nav-item{
    position: relative;

}
.side-nav-item:not(:last-child){
    margin-bottom: 1rem;
}
.side-nav-item:hover::before {
    transform: scaleY(1);
    width: 100%;
}
.side-nav-item:active::before {
    background-color: var(--primary-light);
}

.active{
    background-color: var(--primary-color);

}
.side-nav-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transition: transform .2s ,width .4s ease-in .2s,background-color .1s;

}

.side-nav-link:link,.side-nav-link:visited{
    z-index: 10;
    position: relative;
color: var(--light-grey-1);
text-decoration: none;
text-transform: uppercase;
display: block;
padding: 1.5rem 3rem;
display: flex;
align-items: center;
}


.side-nav-icon{
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

}
.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--light-grey-4);
}
@media (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    .legal{
        display: none;
    }

}
@media only screen and (max-width: 800px) {
    .sidebar{
        width: 100%;
        height: fit-content;
    }
    .side-nav{
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    .side-nav-icon{
    width: 1.50rem;
    height: 1.50rem;
    margin-right: 1rem;
    }
    .side-nav-item:not(:last-child){
        margin:0;
    }
    .side-nav-item{
        flex: 1;
    }
    .legal{display: none;}
    .side-nav-link:link,.side-nav-link:visited{
        justify-content: center;
        padding: 1rem;
    }
}
@media only screen and (max-width: 550px) {
    .side-nav{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .side-nav-icon{
    width: 1.50rem;
    height: 1.50rem;
    margin-right: 1rem;
    }
    .side-nav-item:not(:last-child){
        margin:0;
    }
    .side-nav-item{
        flex: 1;
    }
    .legal{display: none;}
    .side-nav-link:link,.side-nav-link:visited{
        justify-content: center;
        padding: 1rem;
    }
}