.table {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 580px) {
    .table {
      display: block;
    }
  }
  
  .row {
    display: table-row;
    background: var(--light-grey-4);
  }
  .row:nth-of-type(odd) {
    background: var(--light-grey-1);
  }
  .row.tab-header {
    font-weight: 900;
    color: #ffffff;
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
  }

  @media screen and (max-width: 520px) {
    .row {
      padding: 8px 0;
      display: block;
    }
  }
  
  .cell {
    padding: 6px 12px;
    font-size: 1.4rem;
    display: table-cell;
  }
  @media screen and (max-width: 520px) {
    .cell {
      padding: 2px 12px;
      display: block;
    }
  }
  .table-place{
    margin: 1rem 3rem;
    float: right;
  }
  .table-btn{
      font-size: 2rem;
      text-decoration: none;
      padding: 0.5rem 1rem;
      margin-bottom: 2rem;
      background-color: #05e8ba;
      background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);

    color: white;
  }
  .table-btn:hover{
    animation-name: btn-hover;
    animation-duration: .8s;
    animation-iteration-count: infinite;

  }