@import "../base/animation.css";
@import "../base/base.css";
@import "../base/typography.css";
@import "../base/utilities.css";
@import "../base/variables.css";
@import "../layout/header.css";
@import "../layout/sidebar.css";
@import "../layout/table.css";

body{
    background-color: var(--primary-color-op);
    background-image: linear-gradient(315deg, #06befb74 0%, #4885ee70 74%), url(../../img/854206.jpg);
        /* background-image : linear-gradient(to top right , #20bf559f 0%, #01bbef9f 74%), url(854206.jpg); */
        background-size: cover;
        font-family:quicksand;
        height: max-content;
}

.content{
    background-color: white;
    width: 95%;
    height: max-content;
margin: 3rem auto;

}


/******** containner ***/

/*********** MAIN **********/
.main{
    width: 100%;
    height: max-content;
}
.main-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--dark-grey-3);
    margin-top: 2rem;
    text-align: center;
    display: block;
}
.main-title::after{
    content: "";
    display: block;
    height: .4rem;
    width: 7rem;
    background-color: var(--primary-color);
    margin: 1.4rem auto;
    transition: transform .8s;
    margin-bottom: 2rem;
}
.main-title:hover.main-title::after{
    
    transform: scaleX(1.5);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
    margin-bottom: 2rem;
}
.card{
    padding: 3rem;
    margin: 1.5rem;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: var(--light-shadow);
    transition: .5s all;

}
.card:hover{
    transform: translateY(.6rem);
    box-shadow: var(--dark-shadow);
}
.pat{
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}
.app{
    background-color: #06bcfb;
    background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}
.tes{
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    
}
.card-icon{
    width: 5rem;
    margin-left: 1rem;
    height: 5rem;
    fill: var(--light-grey-3);
}
.cont-name{
    font-size: 1.2rem;
}
.cont-number {
    font-size: 2.3rem;
    font-weight: bolder;
    padding-left: 2rem;
}
.card-cont{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
}

/**** TABLE **/
