@import "../base/animation.css";
@import "../base/base.css";
@import "../base/typography.css";
@import "../base/utilities.css";
@import "../base/variables.css";
@import "../layout/header.css";
@import "../layout/sidebar.css";
@import "../layout/select.css";

body{
    background-color: var(--primary-color-op);
    background-image: linear-gradient(315deg, #06befb74 0%, #4885ee70 74%), url(../../img/854206.jpg);
        /* background-image : linear-gradient(to top right , #20bf559f 0%, #01bbef9f 74%), url(854206.jpg); */
        background-size: cover;
        font-family:quicksand;
}

.content{
    background-color: white;
    width: 95%;
    height: max-content;
margin: 3rem auto;

}
.main{
    width: 100%;
    height: max-content;
}
.form{
    width: min-content;
margin: 0 auto;
}
.form-group{position: relative;}
.form-label{
    display: block;
    color: var(--primary-color);
    font-size: 2rem;
}
.form-input{
    font-size: 2rem;
    
}
#medicine-list{
    width: 30rem;
    font-size: 2rem;
    color: grey;
}
select#medicine-list:-internal-list-box:focus option:checked{
    background: var(--primary-color) !important;

}
