@import "../base/animation.css";
@import "../base/base.css";
@import "../base/typography.css";
@import "../base/utilities.css";
@import "../base/variables.css";
@import "../layout/header.css";
@import "../layout/sidebar.css";
body{
    background-color: var(--primary-color-op);
    background-image: linear-gradient(315deg, #06befb74 0%, #4885ee70 74%), url(../../img/854206.jpg);
        /* background-image : linear-gradient(to top right , #20bf559f 0%, #01bbef9f 74%), url(854206.jpg); */
        background-size: cover;
        font-family:quicksand;
}

.content{
    background-color: white;
    width: 95%;
    height: max-content;
margin: 3rem auto;

}
h1{
    margin-bottom: 1rem;
    color: var(--dark-grey-1);
}
.main{
    width: 100%;
    height: max-content;
    padding: 2rem;
}
.main-icon{
    width: 9rem;
    display: block;
    height: 9rem;
    fill: var(--primary-color);
margin: 0 auto;
}
.data{
    display: inline-block;
    background-color: rgb(240, 240, 172);
padding: .5rem 9rem .5rem 1rem;


}
