@import "../base/animation.css";
@import "../base/base.css";
@import "../base/typography.css";
@import "../base/utilities.css";
@import "../base/variables.css";
@import "../layout/header.css";
@import "../layout/sidebar.css";
body{
    background-color: var(--primary-color-op);
    background-image: linear-gradient(315deg, #06befb74 0%, #4885ee70 74%), url(../../img/854206.jpg);
        /* background-image : linear-gradient(to top right , #20bf559f 0%, #01bbef9f 74%), url(854206.jpg); */
        background-size: cover;
        font-family:quicksand;
}

.content{
    background-color: white;
    width: 95%;
    height: max-content;
margin: 3rem auto;

}
.main{
    width: 100%;
    height: max-content;
    padding: 2rem;
}
.main-icon{
    width: 9rem;
    display: block;
    height: 9rem;
    fill: var(--primary-color);
margin: 0 auto;

}
.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    border: 1px solid var(--primary-color);
    margin-top: 1rem;
}
input:focus,select:focus{
    border: none;
    outline: 2px solid var(--primary-color);
}
.left-form{
    padding: 2rem;}
.right-form{padding: 2rem;}
.form-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}
.mark{
    font-size: 2.5rem;
    padding-left: 1rem;
    color: red;
}
.mark.hidden{
    visibility: hidden;
}
.icon-form{
    width: 4rem;
    height: 4rem;
    fill: var(--primary-color);
    background-color: rgb(226, 226, 226);
}
.icon-form.smaller{
padding: .5rem;
    
}
.form-input{
    width: 100%;
    font-size: 1.8rem;
}
.btn-form{
    border: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-radius: .8rem;
    color: var(--light-grey);
    cursor: pointer;
}

.select-input{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
option{
    color: gray;
}
#sex{
width: 100%;
font-size: 2rem;
}
@media (max-width: 900px) {
    .form ,.form>*{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .right-form{
        flex-direction: column-reverse;
    }
    .btn-form{
        margin-top: 2rem;
    }
}

