@import "../base/animation.css";
@import "../base/base.css";
@import "../base/typography.css";
@import "../base/utilities.css";
@import "../base/variables.css";
@import "../layout/header.css";
@import "../layout/sidebar.css";
@import "../layout/table.css";

body{
    background-color: var(--primary-color-op);
    background-image: linear-gradient(315deg, #06befb74 0%, #4885ee70 74%), url(../../img/854206.jpg);
        /* background-image : linear-gradient(to top right , #20bf559f 0%, #01bbef9f 74%), url(854206.jpg); */
        background-size: cover;
        font-family:quicksand;
}

.content{
    background-color: white;
    width: 95%;
    height: max-content;
margin: 3rem auto;

}
.main{
    width: 100%;
    height: max-content;
    padding: 5rem;
}
.msg{
    display: flex;
    flex-direction: column;
}
.msg-box{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: .4rem;

}
.msg-img{
    width: 9rem;
    height: 9rem;
    margin-right: 1rem;
}
.msg-content{
    display: flex;
    flex-direction: column;
}
.message{
    font-size: 1.8rem;
    color: var(--dark-grey-1);

}
.date{
    color: var(--dark-grey-2);
    font-size: 1.4rem;
}




.msg-btn{
    font-size: 2.5rem;
    margin: 2rem 4rem;
    float: right;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #05e8ba;
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);

  color: white;

}
#popup{
    position: fixed;
height: 100%;
width: 100%;
z-index: 50;
opacity: 0;
visibility: hidden;

}
#popup:target{
    opacity: 1;
    visibility: visible;
    width: 93.5%;
}
.new-msg{
    width: 35%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%) scale(0);
    background-color: white;
    transition: all .5s;
}
#popup:target .new-msg{
    transform: translate(-50%,-20%) scale(1);
}
.remove-btn{
    z-index: 100;
    font-size: 2rem;
    color: black;
    position: absolute;
    right: 0;
    margin-right: 2rem;
    margin-top: 1rem;
}
.remove-btn:hover{
    color: red;
}
.form{margin: 0 auto;
padding: 5rem;
}
.form-group{
padding-bottom: 1rem;
}
.form-label{
display: block;
padding-bottom: 1rem;
font-size: 1.9rem;
font-weight: bold;

}
.form-input{
font-size: 1.7rem;
border: 2px solid var(--primary-color);
width: 90%;
height: 40%;
}
.form-input:focus{
    outline: none;
}
.form-btn{
    border: none;
    padding: .6rem 1.2rem;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: 2rem;
    border-radius: .5rem;
}
@media (max-width: 830px) {
    #popup:target{
        width: 93.1%;
    }
}
@media (max-width: 700px) {
    #popup:target{
        width: 92.8%;
    }
}
@media (max-width: 600px) {
    #popup:target{
        width: 92.5%;
    }
}
@media (max-width: 600px) {
    #popup:target{
        width: 91.5%;
    }
}
