@import "../base/animation.css";
@import "../base/base.css";
@import "../base/typography.css";
@import "../base/utilities.css";
@import "../base/variables.css";
@import "../layout/header.css";
@import "../layout/sidebar.css";
@import "../layout/table.css";
body{
    background-color: var(--primary-color-op);
    background-image: linear-gradient(315deg, #06befb74 0%, #4885ee70 74%), url(../../img/854206.jpg);
        /* background-image : linear-gradient(to top right , #20bf559f 0%, #01bbef9f 74%), url(854206.jpg); */
        background-size: cover;
        font-family:quicksand;
}

.content{
    background-color: white;
    width: 95%;
    height: max-content;
margin: 3rem auto;

}
.main{
    width: 100%;
    height: max-content;
    position: relative;
}
.search-cards{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
}
.card{
margin: 1rem;
padding: 2rem;
display: flex;
flex-direction: column;
}
.card-icon{
    width: 7rem;
    height: 7rem;
    fill: var(--primary-color);
}
.card-name{
    text-transform: uppercase;
}
.seemore{
    text-decoration: none;
    padding: .6rem 1.2rem;
    color: white;
    background-color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: bold;
}